body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
    background-image: url('/static/img/background.png');
		/*
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
		*/
    min-height: 100vh;
}

nav {
    color: white;
    background-color: rgb(0, 0, 0, 0.75);
    font-size: 16px;
    padding-bottom: 2.5px;
    padding-left: 2.5px;
    padding-right: 2.5px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: rgb(100, 100, 100);
    text-decoration: underline;
}

pre {
    background-color: black;
    color: white;
    padding: 8px;
    overflow: auto;
		border-radius: 10px;
		tab-size: 2;
}

pre code {
	font-size: 14px;
	font-family: "Lucida Console", "Courier New", monospace;
	text-decoration: none;
}

.notepad {
		background: rgba(0,0,0,0.5);
    margin: auto;
    width: 50%;
    color: white;
    padding: 10px;
    word-wrap: break-word;
}

.notepad img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.notepad h2,h3,h4 {
    margin-bottom: 0;
}

.notepad h1 {
    text-align: center;
}

.notepad a {
    text-decoration: none;
		color: rgb(0,200,200);
}

.notepad a:hover {
    text-decoration: underline;
}
